nav
{
    background-color: black;
    color: white;
}
ul
{
    list-style-type: none;

}
.navbar-component
{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid white;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 5px;
    padding-right: 5px;
}
a
{
    text-decoration: none;
    color: white;
    font-size: large;
    
}
#main-body
{
    margin-top: 5px;
    margin-left: 10px;

}
.create-form-section
{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-left: 10px;
    border: solid black;
}
.update-form-section
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-left: 10px;
    border: solid black;
}
.form-group
{
    margin-bottom: 5vh;

}
.form-group input
{
    height: 3vh;
    border-radius: 1.5px;
    font-size: large;
}
.form-group select
{
    width: 12vw;
    height: 3vh;
    font-size: large;
}
.btn-primary
{
    text-align: center;
    font-size: large;
    margin-left: 3vw;
}
.table-section
{
    margin-top: 10px;
    margin-left: 10px;
    border: solid black;
    padding-left: 10px;
}
#table-title
{
    margin-bottom: 2vh;
    font-size: large;
}
#instructor-table
{
    border: solid black;
    margin-bottom: 10px;
}
th
{
    border: solid black;
}
tr
{
    padding-left: 3vw;
}

#class-table
{
    border: solid black;
    margin-bottom: 10px;
    margin-left: 10px;
}
