<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Gym Management system</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar-component">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="navbar-component">
                <a href="/classes" class="nav-link">CLASSES</a>
            </li>
            <li class="navbar-component">
                <a href="/instructors" class="nav-link">INSTRUCTORS</a>
            </li>
            <li class="navbar-component">
                <a href="/members" class="nav-link">MEMBERS</a>
            </li>
            <li class="navbar-component">
                <a href="/equipments" class="nav-link">EQUIPMENTS</a>
            </li>
        </ul>
    </nav>
    <div class="main">
    <p>
        <img id="img1" src="https://api.time.com/wp-content/uploads/2020/03/gym-coronavirus.jpg" alt="image not available" style="width:1850px; height:400px; margin-left:15px;">
        <h3>A healthy gymnastic body not only reflects a great personality 
           but it also makes you stronger and keep fit. Gym activities keep
           you away from laziness makes you active and energetic whole day
           and enables you to perform various tasks. One of the most common
           mental benefits of exercise is stress relief
        </h3>
        
        <img id="img2" src="https://www.hughbaird.ac.uk/user/pages/22.facilities/09.lifestyle-fitness-gym/02._features/Facilities.jpg" alt="image not available" style="width:1850px; height:400px; margin-left:15px;">
        <h3>A healthy gymnastic body not only reflects a great personality 
        but it also makes you stronger and keep fit. Gym activities keep
        you away from laziness makes you active and energetic whole day
        and enables you to perform various tasks. One of the most common
        mental benefits of exercise is stress relief
        </h3>

        <img id="img2" src="https://clarksvillenow.sagacom.com/wp-content/blogs.dir/43/files/2019/02/workout-gym-exercise-equipment-shutterstock.jpg" alt="image not available" style="width:1850px; height:400px; margin-left:15px;">
        <h3>A healthy gymnastic body not only reflects a great personality 
        but it also makes you stronger and keep fit. Gym activities keep
        you away from laziness makes you active and energetic whole day
        and enables you to perform various tasks. One of the most common
        mental benefits of exercise is stress relief
        </h3>
    </p>       
    </div>

    <div class="footer">
        <center>Copyright INFO</center>
    </div>
    {{{body}}}
    <script src="/js/main.js"></script>
    <script src="/js/secondary.js"></script>
</body>
</html>