<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/secondary.css">
    <title>Gym Management System</title>
</head>
<body>
     <nav>
        <ul>
            <li class="navbar-component">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="navbar-component">
                <a href="/instructors" class="nav-link">Instructors</a>
            </li>
            <li class="navbar-component">
                <a href="/members" class="nav-link">Members</a>
            </li>
            <li class="navbar-component">
                <a href="/equipments" class="nav-link">Equipments</a>
            </li>
        </ul>
    </nav>
   {{{body}}}
    <script src="/js/secondary.js"></script>
</body>
</html>