<div class="main-body">
    <div class="class-section">
        {{#each class}}
         <div class="info-section">
             <img src="{{this.image}}" alt="">
             <h4>{{this.name}}</h4>
             <p>{{this.type}}</p>
             <p>{{this.instructor}}</p>
         </div>
        {{/each}}
    </div>
</div>